.button {
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 10px;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: box-shadow .3s ease, transform .3s ease;
  user-select: none;
  border: none;
  outline: none;
}

.button:hover {
  box-shadow: 0 0 15px var(--primary-color);
  transform: scale(1.075);
}

.purple {
  background-color: var(--purple-color);
}

.purple:hover {
  box-shadow: 0 0 15px var(--purple-color);
}