.button {
  font-size: 14px;
  padding: 12px 25px;
  border-radius: 10px;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color .2s ease;
}
