.previewWrapper {
  margin-top: 80px;
}

.previewContent {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: repeat(1fr, 2);
}

.previewLeftColumn {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: flex-end;
}

.previewTitle {
  font-size: 42px;
  color: var(--primary-text-color);
  line-height: 1.25;
}

.previewSubtitle {
  color: var(--primary-text-color);
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.25;
  opacity: .5;
}

.previewButton {
  margin-top: 30px;
}

.previewRightColumn {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: flex-end;
}

.previewRightColumn > img {
  height: 600px;
  width: auto;
}

.previewTechnologiesList {
  display: flex;
  align-items: center;
  column-gap: 30px;
  align-self: flex-end;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.previewTechnologyIcon {
  width: 80px;
  height: 80px;
}