.previewWrapper {
  margin-top: 80px;
}

.previewContent {
  display: flex;
  justify-content: space-between;
}

.previewLeftColumn {
  max-width: 50%;
  margin-top: 80px;
}

.previewTitle {
  font-size:52px;
  color: var(--primary-text-color);
  line-height: 1.25;
}

.previewSubtitle {
  color: var(--primary-text-color);
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.25;
  opacity: .5;
}

.previewButton {
  margin-top: 30px;
}

.previewRightColumn > img {
  height: 600px;
  width: auto;
}

.previewTechnologiesList {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.previewTechnologyIcon {
  width: 80px;
  height: 80px;
}

.previewSocialMediaIcons {
  margin-top: 10px;
}

.previewButtons {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 50px;
}

.previewSocialMediaLink {
  width: 40px;
  display: block;
}